<link rel="stylesheet" href="/css/editResource.css">

<body onclick="checkeverytime()">
    <div class="sidenav" hidden>
        <h1 id="userNameHere" class="ml-4"><%= name %></h1>
        <h5 style="display: none;" id="authorEmail"><%= email %></h5>
        <h5 style="display: none;" id="lessonPlanOriginalAuthor"><%= TheSelectedResource.authorEmail %></h5>
        <a href="/home" class="ml-2">Modules</a>
        <br/>
        <br/>
        <a href="/users/logout" class="btn btn-secondary">Logout</a>
    </div>
<br/>
    <div class="backBtn">
        <br/>
        <form action="/experience" method="GET">
            <button type="submit" class="btn btn-primary">Back</button>
        </form>
        <br/>
        <br/>
        <!-- <button type="button" onclick="displaySubmitFormOverlay()" class="btn btn-success">Save</button> -->

    </div>



    <form action="/experience/readResource/<%= TheSelectedResource._id %>/edit" method="POST">
        <h1>Resource - Edit LXD Timeline & LXD Notes</h1>
        <br/>
        <h4>Title of resource: <input name="titleOfResourceTb" id="titleOfResourceTb" placeholder="Enter title of resource" class="form-control" style="width: 900px;" value=<%= TheSelectedResource.title %>></h4>
        <h4>Category of resource: <input name="categoryOfResourceTb" id="categoryOfResourceTb" placeholder="Enter category of resource" class="form-control" style="width: 900px;" value=<%= TheSelectedResource.category %>></h4>
        <h5>
        <% if(email == TheSelectedResource.authorEmail){ %>
            <div class="form-check form-check-inline">
                <input class="form-check-input" style="cursor: pointer;" type="radio" name="inlineRadioOptions" id="UpdateLessonPlan" value="UpdatedLessonPlan">
                <label class="form-check-label" for="UpdateLessonPlan" style="cursor: pointer;">Update Lesson Plan</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" style="cursor: pointer;" type="radio" name="inlineRadioOptions" id="DuplicateLessonPlan" value="DuplicatedLessonPlan">
                <label class="form-check-label" for="DuplicateLessonPlan" style="cursor: pointer;">Duplicate Lesson Plan</label>
              </div>
              <% } %>
              <% if(email != TheSelectedResource.authorEmail){ %>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" style="cursor: not-allowed;" type="radio" name="inlineRadioOptions" id="UpdateLessonPlan" value="Lesson Plan Updated" disabled hidden> 
                    <label class="form-check-label" for="UpdateLessonPlan" style="cursor: not-allowed;" hidden>Update Lesson Plan</label hidden>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" style="cursor: not-allowed;" type="radio" name="inlineRadioOptions" id="DuplicateLessonPlan" value="Lesson Plan Duplicated" disabled checked hidden>
                    <label class="form-check-label" for="DuplicateLessonPlan" style="cursor: not-allowed;" hidden>Duplicate Lesson Plan</label>
                  </div>
                  <% } %>
                </h5>
                <div class="backBtn">
                    <button type="button" onclick="displaySubmitFormOverlay()" class="btn btn-success">Save</button>
                    <button type="submit" id="saveResourceBtn" class="btn btn-success" hidden>Save</button>
                </div>
                <br/>         
                <br/>         
                <br/>         
                <!-- ErrorMessage for editlessonplan.ejs Page -->
                <div id="alertErrors">
                </div>
                

        <div style="display: none;">
            <label>For Duration</label>
            <% for (var indexForDuration = 0; indexForDuration < TheSelectedResource.goDuration.length; indexForDuration++) { %>
            <input class="displayDuration" value="<%= TheSelectedResource.goDuration[indexForDuration] %>">
            <% } %>

            <label>For Minutes</label>
            <% for (var indexForMinutes = 0; indexForMinutes < TheSelectedResource.goMinutes.length; indexForMinutes++) { %>
            <input class="displayMinutes" value="<%= TheSelectedResource.goMinutes[indexForMinutes] %>">
            <% } %>

            <label>For Time</label>
            <% for (var indexForTime = 0; indexForTime < TheSelectedResource.goTime.length; indexForTime++) { %>
            <input class="displayTime" value="<%= TheSelectedResource.goTime[indexForTime] %>">
            <% } %>
        </div>


<br/>
<br/>
<br/>

<% if(LoginUser.email==TheSelectedResource.authorEmail){ %>
    <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link "
            href="/experience/readResource/<%= TheSelectedResource._id %>">Read LXD Timeline</a>
        <a class="flex-sm-fill text-sm-center nav-link"
            href="/experience/readResource/<%= TheSelectedResource._id %>/readResourceCards">Read LXD Notes</a>
        <a class="flex-sm-fill text-sm-center nav-link active"
            href="/experience/readResource/<%= TheSelectedResource._id %>/edit">Edit LXD Timeline & LXD Notes</a>
        <a class="flex-sm-fill text-sm-center nav-link"
            href="/experience/readResource/<%= TheSelectedResource._id %>/generateResourcePDF">LXD Timeline & LXD Notes
            Generation</a>
    </nav>
    <% } %>
        <% if(LoginUser.email !=TheSelectedResource.authorEmail){ %>
            <nav class="nav nav-pills flex-column flex-sm-row">
                <a class="flex-sm-fill text-sm-center nav-link"
                    href="/experience/readResource/<%= TheSelectedResource._id %>">Read
                    LXD Timeline</a>
                <a class="flex-sm-fill text-sm-center nav-link"
                    href="/experience/readResource/<%= TheSelectedResource._id %>/readResourceCards">Read LXD Notes</a>
                <a class="flex-sm-fill text-sm-center nav-link"
                    href="/experience/readResource/<%= TheSelectedResource._id %>/generateResourcePDF">LXD Timeline &
                    LXD Notes
                    Generation</a>
            </nav>
            <% } %>


<div class="backBtn">
    <br/>
    <button type="button" class="btn btn-primary" id="pasteBtn">Paste</button>

</div>
<br/>
<br/>
<br/>

  <br/>

          <br/>
        <h1 style="text-align:center">LXD Notes</h1>
        <div class="flex-container" id="flexContainerId">
            <% for(var i = 0; i < TheSelectedResource.headerForNotesName.length; i++) { %>
            <div class="parent" style="background-color: <%= TheSelectedResource.colorPickerForNote[i] %>">
                <input name="headerForNotesName" placeholder="Title..." class="headersNotes"
                    value="<%= TheSelectedResource.headerForNotesName[i] %>">
                <input title="Use this button to change the color of the note" type="color" name="colorPickerForNote"
                    value="<%= TheSelectedResource.colorPickerForNote[i] %>">
                <button title="Use this button to delete this note" type="button" name="goRemoveNotes" data-toggle="modal" data-target="#exampleModal"
                class="btn btn-danger mt-2"><i class="fas fa-times"></i></button>
                <br>
                    <button type="button" class="btn btn-info" name="moveUpBtn"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-info" name="moveDownBtn"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>

                <textarea class="notesTextArea" name="goTextArea"><%= TheSelectedResource.goTextArea[i] %></textarea>
                <label style="font-size: large;">Last Modified By:</label>
                <input readonly class="labelForLastModifiedBy" name="labelForLastModifiedBy" value="<%= TheSelectedResource.notesLastModifiedBy[i] %>">
            </div>
            <% } %>
        </div>
        <button type="button" class="btn btn-success" id="addNewNoteBtn">Add New Note</button>
        <br>
        <br>
        <br>
        <h1 style="text-align:center">LXD Timeline</h1>
        <!-- Vertical Timeline -->
        <section id="conference-timeline">
            <div class="timeline-start">
                <label>Start Time:</label>
                <br />
                <input name="startTimeInput" id="startTimeInput" type="text" value="00:00" readonly />
            </div>
            <div class="conference-center-line"></div>
            <div class="conference-timeline-content" id="containerBox">
                <% for (var h = 0; h < TheSelectedResource.headerForEventName.length; ) { %>
                <div class="timeline-article">
                    <div class="content-left-container">
                        <div class="content-left"
                            style="background-color: <%= TheSelectedResource.colorPickerForEvent[h] %>">
                            <input name='headerForEventName' placeholder="Title..." class="headerForEvent"
                                value="<%= TheSelectedResource.headerForEventName[h] %>">
                            <textarea contenteditable="true" style="height: 400px"
                                name="textAreasForEvents"><%= TheSelectedResource.textAreasForEvents[h] %></textarea>
                            <input title="Use this button to change the color of the note" type='color'
                                name="colorPickerForEvent"
                                value="<%= TheSelectedResource.colorPickerForEvent[h] %>" />
                            <label style="font-size: small;">Last Modified By:</label>
                            <input readonly class="labelSetForLastModified" name="labelSetForLastModified" value="<%= TheSelectedResource.eventsLastModifiedBy[h] %>">
                        </div>
            
                        <label>Duration:</label><br />
                        <input  type="number" name="goDuration"
                            style="width: 50px" min="0" max="23" />&nbsp<label>hour(s)</label>&nbsp<input
                             type="number" name="goMinutes"
                            style="width: 50px" min="0" max="59" />&nbsp<label>minute(s)</label>
                        <button
                            title="Use this button to delete that specific event (This event cannot be deleted as the timeline needs to have at least 1 event)"
                            type="button" name="goRemoveEvents" class="btn clever-btn btn-2" data-toggle="modal"
                            data-target="#exampleModal"><i class="fa fa-trash" style="font-size: 18px; color: black;"></i></button>
                        <br />                        
                        <label hidden>Start Time:</label>
                        <br />
                        <input name="goTime" type="time" hidden />

                    </div>
                    <% h++ %>
                    <div class="content-right-container">
                        <div class="content-right"
                            style="background-color: <%= TheSelectedResource.colorPickerForEvent[h] %>">
                            <!-- <h4 contenteditable="true" id="uniqueheaderForEvent2" class="headerForEvent"
                                    data-placeholder="Title..."></h4> -->
                            <input name='headerForEventName' placeholder="Title..." class="headerForEvent"
                                value="<%= TheSelectedResource.headerForEventName[h] %>">
                            <textarea style="height: 400px"
                                name="textAreasForEvents"><%= TheSelectedResource.textAreasForEvents[h] %></textarea>

                            <input title="Use this button to change the color of the note" type='color'
                                name="colorPickerForEvent"
                                value="<%= TheSelectedResource.colorPickerForEvent[h] %>" />
                            <label style="font-size: small;">Last Modified By:</label>
                            <input readonly class="labelSetForLastModified" name="labelSetForLastModified" value="<%= TheSelectedResource.eventsLastModifiedBy[h] %>">
                        </div>
                    </div>
                    <% h++ %>
                    <div class="meta-date">
                        <span class="date">00:00</span>
                        <input name="middleTimeHidden" value="00:00" hidden/>
                    </div>

                    <button type="button" class="btn btn-info" name="moveUpBtnTL" style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 10px; margin-top: 150px;"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-info" name="moveDownBtnTL" style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 10px;"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>

                    <input title="Use this button to add an event" type="button" value="+" class="btn clever-btn btn-2"
                        name="goButton"
                        style="display: block; margin:auto; max-width: 300px; margin-top: 110px; background: #00b0bd; color: rgba(0, 0, 0, 0.50); font-size: xx-large;" />

                </div>
                <% } %>
            </div>
            <div class="timeline-end">Total Duration
                <input class="endTime" type="text" readonly style="cursor: not-allowed;" />
            </div>
        </section>

        <!-- For Overlays -->
        <div id="overlayForNotes">
            <div class="text">Loading......</div>
            <div class="loader"></div>
        </div>

        <div id="overlay">
            <div class="text">Loading......</div>
            <div class="loader"></div>
        </div>

        <!-- For Overlay For Form Submission
        <div id="overlayForFormSubmission">
            <div class="text">
                <div class="form-group">
                    <label for="nameOfLessonPlan">Name of Lesson Plan</label>
                    <input required type="text" id="nameOfLessonPlan" name="nameOfLessonPlan" class="form-control" placeholder="Enter name of lesson plan" value="<%= typeof nameOfLessonPlan != 'undefined' ? nameOfLessonPlan : '' %>">
                </div>
                <div class="form-group">
                    <label for="commitMsg">Commit Message</label>
                    <input required type="text" id="commitMsg" name="commitMsg" class="form-control" placeholder="Enter commit messages" value="<%= typeof commitMsg != 'undefined' ? commitMsg : '' %>">
                </div>
            </div>
            <button type="submit" id="submitFormSuccess" class="btn btn-default" onclick="submitForm()">Save</button>
            <button type="button" id="submitFormFail" class="btn btn-default" onclick="makeSubmitFormOverlayGone()">Cancel</button>
          <input type="button" id="submitFormFail" class="btn btn-default" onclick="makeSubmitFormOverlayGone()" value="Cancel">
        </div>
         -->
<!-- Modal -->
<div id="ModalPopUpForDeletion">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="modal-bodyID">
              <!-- delete msg here -->
          </div>
          <div class="modal-footer" id="modalfooter" name="modalfooter">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" name="ConfirmDeleteBtnInModal" id="ConfirmDeleteBtnInModal" class="btn btn-danger mt-2"> Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
<script src="https://cdn.tiny.cloud/1/v73hdb8haytf20znc24j0223o64viyhlcpitocjqagu2p3o0/tinymce/5/tinymce.min.js"
referrerpolicy="origin"></script>
<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
<script src="/scripts/editResource.js"></script>
