<link rel="stylesheet" href="/css/readResourceCards.css">


<body onclick="checkeverytime()">
    <div class="sidenav" hidden>
        <h1 id="authorName" class="ml-4"><%= name %></h1>
        <h5 style="display: none;" id="authorEmail"><%= email %></h5>
        <h5 style="display: none;" id="lessonPlanOriginalAuthor"><%= TheSelectedResource.authorEmail %></h5>
        <h5 style="display: none;" id="creationDateAndTimeForLP"><%= TheSelectedResource.dateAndTimeCreated %></h5>
        <a href="/home" class="ml-2">Modules</a>
        <a href="/users/logout" class="btn btn-secondary">Logout</a>
    </div>
<br/>
    <div class="backBtn">
        <br/>
        <form action="/experience" method="GET">
            <button type="submit" class="btn btn-primary">Back</button>
        </form>
        <br/>
        <br/>
    </div>
    
    <!-- <form> -->
        <h1>Resource - Read LXD Notes</h1>
        <h4 style="display: none;" id="lastModifiedDateAndTimeDisplayed"><%= TheSelectedResource.lastModified %></h4>
        <h4>Title of Resource: &nbsp;<%= TheSelectedResource.title %></h4>
        <h4>Category of Resource: &nbsp;<%= TheSelectedResource.category %></h4>
        <br/>
        <br/>
        <div style="display: none;">
            <label>For Duration</label>
            <% for (var indexForDuration = 0; indexForDuration < TheSelectedResource.goDuration.length; indexForDuration++) { %>
            <input class="displayDuration" value="<%= TheSelectedResource.goDuration[indexForDuration] %>">
            <% } %>

            <label>For Minutes</label>
            <% for (var indexForMinutes = 0; indexForMinutes < TheSelectedResource.goMinutes.length; indexForMinutes++) { %>
            <input class="displayMinutes" value="<%= TheSelectedResource.goMinutes[indexForMinutes] %>">
            <% } %>

            <label>For Time</label>
            <% for (var indexForTime = 0; indexForTime < TheSelectedResource.goTime.length; indexForTime++) { %>
            <input class="displayTime" value="<%= TheSelectedResource.goTime[indexForTime] %>">
            <% } %>
        </div>




    <% if(LoginUser.email==TheSelectedResource.authorEmail){ %>
        <nav class="nav nav-pills flex-column flex-sm-row">
            <a class="flex-sm-fill text-sm-center nav-link "
                href="/experience/readResource/<%= TheSelectedResource._id %>">Read LXD Timeline</a>
            <a class="flex-sm-fill text-sm-center nav-link active"
                href="/experience/readResource/<%= TheSelectedResource._id %>/readResourceCards">Read LXD Notes</a>
            <a class="flex-sm-fill text-sm-center nav-link"
                href="/experience/readResource/<%= TheSelectedResource._id %>/edit">Edit LXD Timeline & LXD Notes</a>
            <a class="flex-sm-fill text-sm-center nav-link"
                href="/experience/readResource/<%= TheSelectedResource._id %>/generateResourcePDF">LXD Timeline & LXD Notes
                Generation</a>
        </nav>
        <% } %>
            <% if(LoginUser.email !=TheSelectedResource.authorEmail){ %>
                <nav class="nav nav-pills flex-column flex-sm-row">
                    <a class="flex-sm-fill text-sm-center nav-link"
                        href="/experience/readResource/<%= TheSelectedResource._id %>">Read
                        LXD Timeline</a>
                    <a class="flex-sm-fill text-sm-center nav-link active"
                        href="/experience/readResource/<%= TheSelectedResource._id %>/readResourceCards">Read LXD Notes</a>
                    <a class="flex-sm-fill text-sm-center nav-link"
                        href="/experience/readResource/<%= TheSelectedResource._id %>/generateResourcePDF">LXD Timeline &
                        LXD Notes
                        Generation</a>
                </nav>
                <% } %>
          




            <br/>
                <button class="btn btn-primary" id="selectAllBtn">Select All</button>
                <div class="copyButtons">
                    <label id="copiedLbl" style="font-weight: bold;font-size: larger;"></label>
                    &nbsp;
                    <button class="btn btn-success" id="copyBtn">Copy</button>
                    <br/>
                    <br/>
                    <button class="btn btn-secondary" id="clearBtn" style="float: right;">Clear Clipboard</button>
                </div>
            <br/>
            <br/>
            <br/>
            <br/>
        <h1 style="text-align:center">LXD Notes</h1>
        <div class="flex-container" id="flexContainerId">
            <% for(var i = 0; i < TheSelectedResource.headerForNotesName.length; i++) { %>
            <div class="parent" style="background-color: <%= TheSelectedResource.colorPickerForNote[i] %>">
                <input type="checkbox" name="myCheck" style="width: 18px; height: 18px;">
                <input name="headerForNotesName" placeholder="Title..." class="headersNotes"
                    value="<%= TheSelectedResource.headerForNotesName[i] %>" readonly>
                <input title="Use this button to change the color of the note" type="color" name="colorPickerForNote"
                    value="<%= TheSelectedResource.colorPickerForNote[i] %>" readonly disabled> <br>
                <button title="Use this button to delete this note" type="button" name="goRemoveNotes"
                class="btn btn-danger mt-2" style="cursor: not-allowed;" disabled> <i class="fas fa-times"></i></button>
                <textarea class="notesTextArea" name="goTextArea"
                    readonly style="height: 75px; width: 500px;"><%= TheSelectedResource.goTextArea[i] %></textarea>
                <label style="font-size: large;">Last Modified By:</label>
                <input readonly class="labelForLastModifiedBy" name="labelForLastModifiedBy"
                    value="<%= TheSelectedResource.notesLastModifiedBy[i] %>">
            </div>
            <% } %>
        </div>
        <button type="button" class="btn btn-success" style="cursor: not-allowed;" id="addNewNoteBtn" disabled>Add New Note</button>
        <br/>
        <br/>
        <br/>
        <br/>

    <!-- </form> -->

    <!-- Modal -->
<div id="ModalPopUpForDeletion">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="modal-bodyID">
              <!-- delete msg here -->
          </div>
          <div class="modal-footer" id="modalfooter" name="modalfooter">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" name="ConfirmDeleteBtnInModal" id="ConfirmDeleteBtnInModal" class="btn btn-danger mt-2"> Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<script src="https://cdn.tiny.cloud/1/v73hdb8haytf20znc24j0223o64viyhlcpitocjqagu2p3o0/tinymce/5/tinymce.min.js"
referrerpolicy="origin"></script>
<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>

<script src="/scripts/readResourceCards.js"></script>


